<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinario</title>
    <link rel="stylesheet" href="sidebar.component.scss"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>
<body>
    <nav class="todo">
        <ul>
            <li>
                <a href="#">
                    <img src="https://cdn-icons-png.flaticon.com/512/2206/2206248.png" alt="" height="60" width="60">
                    <span class="nav-item">ADMINISTRADOR</span>
                </a>
            </li>
            <li><a href="#">
                <i><img src="https://cdn-icons-png.flaticon.com/512/1067/1067844.png" alt="" height="60" width="60"></i>
                <span class="nav-item">Casa</span>
            </a></li>
            <li><a href="Usuario.html">
                <i><img src="https://cdn-icons-png.flaticon.com/512/599/599928.png" alt="" height="60" width="60"></i>
                <span class="nav-item">USUARIOS</span>
            </a></li>
            <li><a href="CRUDDueños.html">
                <i><img src="https://cdn-icons-png.flaticon.com/512/945/945429.png" alt="" height="60" width="60"></i>
                <span class="nav-item">DUEÑOS</span>
            </a></li>
            <li><a href="CRUDMascota.html">
                <i><img src="https://cdn-icons-png.flaticon.com/512/3729/3729100.png" alt="" height="60" width="60"></i>
                <span class="nav-item">MASCOTAS</span>
            </a></li>
            <li><a class="logout" (click)="logout()">
                <i><img src="https://cdn-icons-png.flaticon.com/512/4400/4400828.png" alt="" height="60" width="60"></i>
                <span class="nav-item" >Salir</span>
            </a></li>

        </ul>
    </nav>

</body>
</html>